body {
    font-family: Arial;
    background: #121212;
    color: white;
    padding: 30px;
}

input, button {
    padding: 8px;
    margin: 5px;
}

button {
    background: #1db954;
    border: none;
    cursor: pointer;
}

#results {
    margin-top: 20px;
    background: #1e1e1e;
    padding: 15px;
}
